:local
  .card
    position: relative
    display: inline-block
    padding: 5px
    font-size: 0.8em
    margin: 5px
    background-color: #e0e0e0
    width: 140px
    height: 200px
    overflow: hidden

    .header
      position: absolute
      top: 2px; left: 0; right: 0
      height: 5px

    .title
      margin-top: 10px
      font-weight: bold
      font-size: 1em

    .numbers
      margin: 5px 0;
      padding-bottom: 8px;
      border-bottom: 1px solid #fff;
      div
        display: inline-block
        margin-right: 10px
        font-size: 0.8em
    
    .type
      text-transform: uppercase
      font-size: 0.7em
      margin-bottom: 5px

  .loading
    font-style: italic
    margin-top: 10px